.checkbox-switch
  //- input(type='checkbox', name='{{name}}', ng-checked='{{checked}}', id="{{id}}", value="{{value}}", ng-model="model")
  input(type='checkbox', name='{{name}}', id='{{id}}', value='{{value}}', ng-checked="{{checked}}", ng-model='model')
  label(for='{{id}}')
    .inner
      .inner-on(ng-bind="onText")
      .inner-off(ng-bind="offText")
    .switch