/**
 * Bootstrap overrides stuffs
 */

@import "theme/_AdminLTE.less";
@import "_base.less";
@import "_edit.less";

 .navbar-nav > li > span {
   padding-top: 15px;
   padding-bottom: 15px;
 }
 #navigation{
  li a, li span{
    color: black;
  }
  li .label{
    color: white;
  }

 }

#pages{
  .thead{
    font-weight: 700;
    font-size: 20px;
  }
  .row > [class*='col-']{
    line-height: 45px;
  }
  .display{
    border-top: 1px solid #ddd;
    .controls{
      padding: 0px;
      margin-top: -1px;
    }
  }
  .form{
    margin-top: 35px;
    display: none;
    [class*='col-']{
      line-height: 20px;
    }
  }
}